
.container{
   background: linear-gradient(hsl(185, 58%, 25%), hsl(35, 11%, 61%), hsl(25, 98%, 40%) ); 

} 
.calcflexible {
    background: hsl(0, 0%, 90%);
    border-color: transparent;

}
.screen {
    background:  hsl(0, 0%, 94%);
    border-color: hsl(34, 12%, 62%);
    border-style: inset;

}
.theme-toggle {
    background-color: hsl(0, 5%, 81%);
}
.keygriddy {
    background-color:  hsl(0, 5%, 81%);
    border-color: hsl(34, 12%, 62%) hsl(0, 5%, 71%);;
    border-style: outset;
    border-width: 5px;
}
.keygriddy > button {
    background-color: hsl(45, 7%, 89%);
    box-shadow: 4px 4px 4px 0px hsl(35, 11%, 61%) ;
    color: hsl(60, 10%, 19%);
}
.calcgivhead {
    color: hsl(60, 10%, 19%);
}
#res {
   background-color: hsl(185, 42%, 37%); 
   box-shadow: 4px 4px 4px 0px hsl(185, 58%, 25%);
   color: white;
}
#equal {
    background-color: hsl(25, 98%, 40%);
    box-shadow: 4px 4px 4px 0px hsl(25, 99%, 27%);
    color: white;
}
#Deleto {
  background-color: hsl(185, 42%, 37%); 
  box-shadow: 4px 4px 4px 0px hsl(185, 58%, 25%);
  color: white;
}
.checkmark  {
    background-color: hsl(25, 98%, 40%);
}