
  .container{
    background: linear-gradient(hsl(268, 75%, 9%), hsl(268, 70%, 17%), hsl(290, 70%, 36%));
  }
  .calcflexible {
    background: hsl(268, 75%, 9%);
    border-color: hsl(268, 89%, 48%);
    border-style: double;
}
.screen {
    background:  hsl(268, 71%, 12%);
    color: white;
    border-color: hsl(268, 89%, 48%);
    border-style: outset;

}
.theme-toggle {
    background-color: hsl(268, 70%, 17%);
}
.keygriddy {
    background-color:  hsl(268, 71%, 12%);
    border-color: hsl(268, 89%, 48%);
    border-style: inset;
}
.keygriddy > button {
    background-color: hsl(268, 47%, 21%);
    box-shadow: 4px 4px 4px 0px hsl(290, 70%, 36%);
    color: hsl(52, 100%, 62%);
}
.calcgivhead {
    color: hsl(52, 100%, 62%);
}
#res {
   background-color: hsl(281, 89%, 26%); 
   box-shadow: 4px 4px 4px 0px hsl(285, 91%, 52%);
   color: white;
}
#equal {
    background-color: hsl(176, 100%, 44%);
    box-shadow: 4px 4px 4px 0px hsl(177, 92%, 70%);
    color: hsl(268, 71%, 12%);
}
#Deleto {
    background-color: hsl(281, 89%, 26%); 
    box-shadow: 4px 4px 4px 0px hsl(285, 91%, 52%);
    color: white;
}
.checkmark  {
    background-color: hsl(176, 100%, 44%);
}