@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
}
/* Desktop*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}
/* calculator holder*/
.calcflexible {
    display: flex;
    flex-direction: column;
    width: 1283px;
    height: 915px;
    justify-content: flex-start;
    align-items: center;
}
/* Containers for title and themes*/
.calcgivhead {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: initial;
}

.calctype {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calctype h5 {
  margin: 0 2em 0 0;
}
/* The slider to switch themes*/
.theme-toggle {
  border-radius: 20px;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative; 
}

.theme-toggle > input {
  margin: 0.3em;
}

.togglebutt {
  width: 20px;
  height: 20px;
  /* border: 2px solid #fff; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.togglebutt .checkmark {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.togglebutt input {
  display: none;
}

.togglebutt input:checked + .checkmark {
  opacity: 1;
}

.checkmark {
  cursor: pointer;
}

/*no worko css... maybe handy later*/
/*.theme-toggle::before {
    content: "1 2 3";
    position: absolute;
    bottom: 25px;
} */
/* Theme 123 lables*/
.themebodycount {
  position: absolute;
  top: 50px;
  right: 500px;
}

.themebodycount ol {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol li {
  padding: 4px;
}
/* Calc styles and grids*/
.calcgriddy {
  display: grid;
  grid-gap: 15px; 
  width: 650px;
  height: 970px;
}

.keygriddy {
    display: grid;
    grid-template-columns: repeat(4, 116px);
    grid-template-rows: repeat(4, 67px) 1fr;
    width: 650px;
    height: 470px;
    border-radius: 14px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
    padding: 4px;
}

.keygriddy > button {
  font-size: 34px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 120px;
  height: 67px;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  margin-bottom: 16px;
  margin-top: 30px;
  margin-left: 66px;
  margin-right: 66px;
  padding: 10px;
  align-content: center;
}

.span-two {
  grid-column: span 2;
  width: 250px;
  height: 68px;
}

.screen {
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  width: 647px;
  height: 153px;
  border-radius: 14px;
  margin-bottom: 24px;
  margin-top: 35px;
}

.screen .current-operand {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .calcgriddy {
    grid-template-columns: 400px;
    /* grid-template-rows: minmax(70px, auto) auto; */
  }

  .theme-1 .keygriddy {
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(6, 40px); */
    grid-gap: 18px;
  }
}